<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project</title>

    <link rel="shortcut icon" href="/static/img/" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/popup.css">



</head>
<body>
<div id="header" class="container-fluid">
    {% include "includes/header.html" %}
    {% include "includes/login.html" %}


</div>








<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>